body {
  background-color: #e2eafc;
  font-family: 'Playfair Display', serif;
  color: #2E2E3A;
}

h1 {
  font-size: 30px;
  color: #006D77;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 35px;

}

h2 {
  font-size: 20px;
  color: #006D77;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 50px, 50px;
}

p {
  font-size: 15px;
  color: #2E2E3A;
  margin-top: 30px;
  margin-bottom: 40px;
}

i {
  color: #D33F49;
  font-size: 40px;
}

.btn-pink {
    background-color: #FFF;
    color: #2E2E3A;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 900; bold
}

.btn-pink:hover {
  background-color: #006D77 ;
}

.card {
  background-color: #f6f5f5;
  border-radius: 7px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  text-align: center;
  padding: 40px;
  width: 620px;
  margin: 20px auto;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  opacity: 0.5;
}

.list-inline li {
  display: inline-block;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
